@{
    ViewBag.Title = "Email Confirmation";
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Confirmation Required</title>
    <style>
        body, html {
            height: 100%;
            margin: 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        main {
            text-align: center;
        }
    </style>
</head>
<body>

    <main>
        <h2>Email Confirmation Required</h2>
        <p>Please confirm your email address before logging in.</p>
        <p>We have sent a confirmation email to your email address. Please check your inbox and follow the instructions to confirm your email.</p>
    </main>

</body>
</html>

